<div [ngClass]="['container']" style="--limit: 9">
    <div [ngClass]="['rec-grid']"  style="--item: 1">
        <p [ngClass]="['rotate-txt']">A Floting banner</p>
    </div>
    <div [ngClass]="['rec-grid']" style="--item: 2"></div>
    <div [ngClass]="['rec-grid']" style="--item: 3"></div>
    <div [ngClass]="['rec-grid']" style="--item: 4"></div>
    <div [ngClass]="['rec-grid']" style="--item: 5"></div>
    <div [ngClass]="['rec-grid']" style="--item: 6"></div>
    <div [ngClass]="['rec-grid']" style="--item: 7"></div>
    <div [ngClass]="['rec-grid']" style="--item: 8"></div>
    <div [ngClass]="['rec-grid']" style="--item: 9"></div>
    </div>