<div class="container p-50"  fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0">
    <div class="" fxFlex="50%">
        <app-vzs-count-down-block></app-vzs-count-down-block>
    </div>
    <div class="" fxFlex="50%">
        <app-vzs-count-down-form></app-vzs-count-down-form>
    </div>  
  </div>
  <div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayoutGap.xs="0">
    <div class="" fxFlex="50%">
        <app-vzs-count-down-status></app-vzs-count-down-status>
    </div>
    <div class="" fxFlex="50%">
        <app-vzs-count-down-total></app-vzs-count-down-total>
    </div>
  </div>